doctype html
html
  head(lang=pwa.lang)
    title deck handler, the third
  body
    h1 Deck Handler, the Third
    //
    #deck-main-menu.screen
      h2 Main Menu
      //
      div plop
      //
    //
    //
    // TODO
    //
